@import url('./github-css.css');

body{
    background-color: #FDFDFD;
    --my-max-width:700px;
}
.markdown-body{
    font-family: 'Noto Serif SC', serif;
    font-size: 1.1em;
}
.markdown-body table{
    max-width: var(--my-max-width);
}
.markdown-body code{
    margin: 0 2px;
}
.container{
    max-width: var(--my-max-width);
    margin: 0 auto;
}